li {
    border: 5px solid rgb(200, 203, 245);
    margin-left: -2%;
    margin-right: 4%;
    margin-bottom: 15px;
    border-radius: 7px;
  }

  a {
    color:  rgb(212, 205, 3);
  }

 h2 {
    margin-bottom: 50px;
    color:  rgb(244, 236, 7);
    font-family: 'Merriweather', serif;
}

h3 {
  text-decoration-line: hidden;
  border: 5px double rgb(196, 200, 223);
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 7px;
  box-shadow: 2px 5px rgb(133, 133, 133);
}

h3:hover {
  cursor: pointer;
  color: black;
}

.post__title__container{
    display: flex;
    justify-content: center;
}

body {
  background: rgb(111, 109, 109);
}